/* starting the css for the transparent card ---------------------------------------------------------*/

.card {
  width: 10%;
  height: 30%;
  position: absolute;
}

.card-inner {
  position: absolute;
  width: 250%;
  height: 200%;
  top: 55%;
  left: 370%;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}


/* starting the css for animated circles -----------------------------------------------------------*/

.circle1 {
  width: 170px;
  height: 170px;
  background: radial-gradient(#2af4ff, #1dbdf8);
  border-radius: 50%;
  position: absolute;
  animation: move-up 3s ease-in infinite alternate-reverse;
}
.circle2 {
  width: 170px;
  height: 170px;
  background: radial-gradient(#2af4ff, #1dbdf8);
  border-radius: 50%;
  position: absolute;
  animation: move-down 3s ease-in infinite alternate-reverse;
}

.circle1 {
  top: 40%;
  left: 540%;
}
.circle2 {
  top: 195%;
  left: 340%;
}

@keyframes move-up {
  to {
    transform: translateY(-10px);
  }
}
@keyframes move-down {
  to {
    transform: translateY(10px);
  }
}


/* starting the css for text Boxes ---------------------------------------------------------------*/

.input-container {
  width: 280px;
  position: relative;
}
.label {
  position: absolute;
  left: 10px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #b3b3b3;
  user-select: none;
}

.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #2f2c45;
  background: #272530;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
}

.label::before {
  content: " ";
  height: 5px;
  background: #272530;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 2px solid #2af4ff;
}

.text-input:focus + .label {
  top: -10px;
  color: #2af4ff;
  font-size: 18px;
  text-shadow: 1.5px 1px 2px rgba(8, 8, 8, 0.493);
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.text-input:focus::placeholder {
  opacity: 1;
}

.text-input:not(:placeholder-shown) + .label {
  top: -10px;
  color: #2af4ff;
  font-size: 18;
}


/* starting the css for Heading h2 -----------------------------------------------------------------*/

.content {
  position: relative;
  left:50%;
  top:18%;
}
.content h2 {
  font-family: "Ink Free";
  color: #fff;
  font-size: 5em;
  position: absolute;
  letter-spacing: 5px;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 4px rgb(12, 7, 112);
}

.content h2:nth-child(2){
  color:#2af4ff;
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate{
  0%,
  100%{
    clip-path:polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50%{
    clip-path:polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}